[submodule "OSCAL"]
	path = OSCAL
	url = https://github.com/usnistgov/OSCAL.git
[submodule "oscal-content"]
	path = oscal-content
	url = https://github.com/usnistgov/oscal-content.git
[submodule "pyoscal"]
	path = pyoscal
	url = https://gitlab.com/shrgroup/oss/python/pyoscal.git
